:root{
  --primary: #8BD546;
  --light: #ffffff;
  --grey: #efefef
}



a:hover{
  text-decoration: none;
}

body{
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #8BD546;
}

.avatar{
  width: 15px;
}

.bg-primary { background-color: #8BD546 !important;}
.light { background-color: white !important;}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: .875rem 1.25rem;
}

#sidebar-container .menu{
  width: 14rem;
}
