<div id="sidebar-container" class="bg-primary">
  <div class="logo">
    <h4 class="text-light font-weight-bold">menu</h4>
  </div>
  <div class="menu">
    <a  routerLink="/home" routerLinkActive="active" class="d-block p-3 text-light"><i class="icon ion-md-analytics mr-2 lead"></i>Dashboard</a>
    <a  routerLink="/meetups" routerLinkActive="active" class="d-block p-3 text-light"><i class="icon ion-md-contacts mr-2 lead"></i>MeetUps</a>

  </div>
</div>
