.contenido {
  padding: 0rem 0.75rem 0rem 0.75rem;
}

.alineacion-texto {
  text-align: center;
}

.card-body {
  padding-top: 0rem;
}

.table thead th {
  border-bottom: 0rem !important;
  border-top: 0rem !important;
}

.table th {
  color: #6c757d
}

.table td {
  color: #6c757d
}


.btn-estado-invitado{
  background: gray;
  color: #ffffff;
  font-family: Work sans;
  font-weight: 500;
  font-size: 16px;
  height: 28px;
  width: 140px;
  padding: 0px;
  cursor: default;
}

.btn-estado-asistido{
  background: #8BD546;
  color: #ffffff;
  font-family: Work sans;
  font-weight: 500;
  font-size: 16px;
  height: 28px;
  width: 140px;
  padding: 0px;
  cursor: default;
}

.btn-estado-inscrito{
  background: #E8E833;
  color: #ffffff;
  font-family: Work sans;
  font-weight: 500;
  font-size: 16px;
  height: 28px;
  width: 140px;
  padding: 0px;
  cursor: default;
}

.border-radius-estado{
  border-radius: 7px;
}




