<div class="container">
  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 class="font-weight-bold mb-0"> MeetUps</h2>
          <p class="lead text-muted">Lista de MeetUps</p>
        </div>
        <div class="col-lg-2 d-flex">
          <button class="btn btn-success w-100 align-self-center" *ngIf="admin" (click)="createClient()">Crear MeetUp <i
            class="icon ion-md-add ml-2"></i>

          </button>
        </div>

      </div>
    </div>
  </section>
  <section class="contenido">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="row">
          <table class="table  align-content-center alineacion-texto">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Tema</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Telefono</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meet of meets">
              <th scope="row">{{meet.id}}</th>
              <td>{{meet.topic}}</td>
              <td>{{meet.city.name}}</td>
              <td>{{meet.phone}}</td>
              <td >
                <button *ngIf="meet.status == 1" class="btn btn-sin-transicion btn-sin-focus btn-estado-invitado border-radius-estado"><p style="font-family: Calibri">INVITADO</p>
                </button>

                <button *ngIf="meet.status == 2" class="btn btn-sin-transicion btn-sin-focus btn-estado-inscrito border-radius-estado"><p style="font-family: Calibri">INSCRITO</p>
                </button>

                <button *ngIf="meet.status == 3" class="btn btn-sin-transicion btn-sin-focus btn-estado-asistido border-radius-estado"><p style="font-family: Calibri">ASISTIDO</p>
                </button>
              </td>
              <td>
                <i class="icon ion-md-eye mr-3 lead" title="Ver detalles" (click)="reviewWeather(meet)" data-toggle="modal" data-target="#staticBackdrop"></i>
                <i class="icon ion-md-checkmark mr-3 lead" title="Inscribir" *ngIf="meet.status == 1" (click)="changeStatus(meet)"></i>
                <i class="icon ion-md-checkmark-circle mr-3 lead" title="Reportar asistencia" *ngIf="meet.status == 2" (click)="changeStatus(meet)"></i>
                <i class="icon ion-md-checkmark-circle mr-3 lead" title="Reportar asistencia" *ngIf="meet.status == 3"></i>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">MeetUp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-5">
          <div class="row">
            <div class="col-md-8">
              <label>Tema Principal</label>
              <p >{{meetSelected.topic}}</p>
            </div>
            <div class="col-md-4">
              <label>Fecha</label>
              <p >{{meetSelected.date}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label>Correo</label>
              <p >{{meetSelected.email}}</p>
            </div>
            <div class="col-md-4">
              <label>Phone</label>
              <p >{{meetSelected.phone}}</p>
            </div>
            <div class="col-md-4">
              <label>Direccion</label>
              <p >{{meetSelected.street}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Temperatura</label>
              <p >{{temperatura.toFixed(2)}}</p>
            </div>
            <div class="col-md-4" *ngIf="admin">
              <label>Inscritos</label>
              <p >{{invitados}}</p>
            </div>
            <div class="col-md-4" *ngIf="admin">
              <label>Cantidad de Birras</label>
              <p >{{birras}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
