<div class="container">
  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 class="font-weight-bold mb-0">Crear Cliente</h2>
          <p class="lead text-muted"></p>
        </div>
        <div class="col-lg-2 d-flex">


        </div>

      </div>
    </div>
  </section>
  <section class="bg-mix">
    <div class="container">
      <div class="card rounded-0">
        <div class="card-body">
          <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-8">
                <label>Tema Principal</label>
                <input type="text" class="w-100 rounded-3 form-control" formControlName="topic"
                       [ngClass]="{'input-focus-error': form.get('topic').hasError('required') && submit }">
                <small *ngIf="form.get('topic').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>
              <div class="col-md-4">
                <label>Fecha</label>
                <input type="datetime-local" class="w-100 rounded-3 form-control" formControlName="date"
                       [ngClass]="{'input-focus-error': form.get('date').hasError('required') && submit}">
                <small *ngIf="form.get('date').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-md-3">
                <label>Ciudad</label>
                <select type="text" class="w-100 rounded-3 form-control" formControlName="city"
                       [ngClass]="{'input-focus-error': form.get('city').hasError('required') && submit }">
                  <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
                </select>
                <small *ngIf="form.get('city').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>
              <div class="col-md-7">
                <label>Dirección</label>
                <input type="text" class="w-100 rounded-3 form-control" formControlName="street"
                       [ngClass]="{'input-focus-error': form.get('street').hasError('required') && submit }">
                <small *ngIf="form.get('street').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>

              <div class="col-md-2">
                <label>N°</label>
                <input type="number" class="w-100 rounded-3 form-control" formControlName="houseNumber"
                       [ngClass]="{'input-focus-error': form.get('houseNumber').hasError('required') && submit }">
                <small *ngIf="form.get('houseNumber').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-md-8">
                <label>Correo de Informacion</label>
                <input type="email" class="w-100 rounded-3 form-control" formControlName="email"
                       [ngClass]="{'input-focus-error': form.get('email').hasError('required') && submit || form.get('email').hasError('email') && submit}">
                <small *ngIf="form.get('email').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
                <small *ngIf="form.get('email').hasError('email') && submit " class="small-error">No cumple con el formato
                </small>
              </div>
              <div class="col-md-4">
                <label>Telefono de Contacto</label>
                <input type="number" class="w-100 rounded-3 form-control" formControlName="phone"
                       [ngClass]="{'input-focus-error': form.get('phone').hasError('required') && submit}">
                <small *ngIf="form.get('phone').hasError('required') && submit " class="small-error">Este campo es
                  requerido
                </small>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-md-4">
                <label>Codigo Postal</label>
                <input type="number" class="w-100 rounded-3 form-control" formControlName="postalCode"
                       [ngClass]="{'input-focus-error': form.get('postalCode').hasError('required') && submit }">
                <small *ngIf="form.get('postalCode').hasError('required') && submit" class="small-error">Este campo es
                  requerido
                </small>
              </div>
            </div>



            <div class="row pt-5">
              <div class="col-md-12 ">
                <button class="btn btn-success w-25 float-right" type="submit">Guardar</button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>
</div>
