<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" [formGroup]="form" (ngSubmit)="login()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="User" required autofocus
             [ngClass]="{'input-focus-error': form.get('username').hasError('required') && submit }" formControlName="username">
      <small *ngIf="form.get('username').hasError('required') && submit " class="small-error">Este campo es
        requerido
      </small>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
             [ngClass]="{'input-focus-error': form.get('password').hasError('required') && submit }"formControlName="password">
      <small *ngIf="form.get('password').hasError('required') && submit " class="small-error">Este campo es
        requerido
      </small>

      <small *ngIf="error" class="small-error">Usuario o password Incorrecto</small>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
