/* You can add global styles to this file, and also import other style files */


@media (max-width: 768px) {
  #sidebar-container{
    display: none;
  }
}

label{
  font-weight: bold;
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

input[type='text'] {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type='text']::-webkit-input-placeholder{
  font-size: 16px;
  vertical-align: middle;
  color: #6c757d;
  border: 1px solid;
}

.form-control:focus {
  border-color: #8BD546;
  box-shadow: inset 0 1px 1px rgba(127, 191, 63, 1), 0 0 8px rgba(127, 191, 63, 1);
}

.small-error {
  color: red;
}

.input-focus-error {
  outline: none !important;
  border-color: #FF0140;
  box-shadow: 0 0 10px #FF0140;
}

.btn-success {
  color: #fff;
  background-color: #8BD546;
  border-color: #8bd546;
}

