<div class="d-flex">
  <app-sidebar>
  </app-sidebar>
  <div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light light border-bottom">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline position-relative my-2 d-inline-block">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-search position-absolute" type="submit"><i class="icon ion-md-search"></i></button>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Usuario
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div id="content">

      <router-outlet></router-outlet>
    </div>


  </div>
</div>
<!--<router-outlet></router-outlet>-->
